@font-face {
    font-family: HelveticaNeue;
    src: local("HelveticaNeue"), url(../Fonts/HelveticaNeueCE35Thin.ttf); 
}
@font-face {
    font-family: HelveticaBold;
    src: local("HelveticaBold"), url(../Fonts/HelveticaNeueCE75Bold.ttf); 
}

body
{
	background: #333; /* Цвет фона */
	font-family: HelveticaNeue;
}

table 
{
	left: 0em;
	border-collapse: collapse;
	width: 100%;
	height: 100%;
}
td.header
{
	background: #D7D7D7;
}
td 
{
	background: #F7F7F7;
	border: 1px solid #DDD;
	min-width: 120px;
	padding: 5px;
}
div.addModelTitle
{
	margin-top: 10px;
	font-family: HelveticaBold;
	font-size: 12pt;
}
#bar 
{
	top: 0em;
	background: rgba(33,33,33,0.95); /* Цвет фона */
	left:-15em; /* Положение */
	padding-left: 1em; /* Поля */
	padding-right: 1em; /* Поля */
	margin: 0; /* Отступы */
	position: absolute; /* Абсолютное позиционирование */
	width: 12em; /* Ширина */
	color: #fff; /* Цвет текста */
	text-align: left; /* Выравнивание по центру */
	height: 100%;
	border-right: 3px solid #344;
	/* Переход */
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#content
{
	position: absolute;
	left: 0.5em;
	right: 0.5em;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

div.emptyData
{
	font-size: 18pt;
	color: white;
	text-align: center;
}

input {
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
	border: 1px solid #CCC;
	height: 20px;
}

input[type="button"]
{
	display: inline-block;
	left: 0em;
	font-family: HelveticaNeue;
	font-size: 12pt;
	height: 25px;
	background-color:#dfdfdf;
	text-align: center;
	padding-top: 6px;
}

#addPanelButton
{
	width: 48.9%;
}

input[type="text"]
{
	width: 99%;
	border: 1px solid #CCC;
}

input[type="number"] 
{
	width: 99%;
	border: 1px solid #CCC;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Radiobuttons */

div.radiobuttonsGroup
{
	margin-left: 2px;
	margin-right: 0px;
}

/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input[type=radio] {
    display:none; 
    margin:10px;
}
 
/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
input[type=radio] + label {
    display:inline-block;
    width: 38%;
    margin-left:-2px;
    margin-right:-2px;
    padding: 4px 12px;
    padding-top: 7px;
    background: rgba(255,255,255,0.15);
    border-color: #ddd;
    text-align: center;
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[type=radio]:checked + label { 
    background-image: none;
    background: rgba(255,255,255,0.5);
    font-weight: bold;
}
